@use "../../../../public/styles/all_styles.scss" as all;

section {
    background-image: url("./../../../../public/assets/01_Background/Design Size Relation@3x/06_Contact21.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 100%;
    height: 80dvh;
    color: #f7f9fa;
    z-index: 20;

    @include all.notebook {
        height: 125dvh;
    }

    //#region content
    .content {
        display: flex;
        flex-direction: column;

        .contact-logo {
            @include all.absolute($right: 5rem, $top: 5rem);
            @include all.size($w: rem, $h: 9rem);

            @media(min-width: 2150px) {
                @include all.absolute($right: 10rem, $top: 15rem);
            }

            @include all.notebook {
                @include all.absolute($right: 0, $top: 5rem);
            }

            @include all.tablet {
                @include all.absolute($right: 0, $top: 3rem);
                @include all.size($w: 6.25rem, $h: 6.25rem);
            }

            @include all.mobile {
                @include all.absolute($right: 3rem, $top: 10rem);
                @include all.size($w: 6.25rem, $h: 6.25rem);
            }

            @media(max-width: 420px) {
                @include all.absolute($right: 2rem, $top: 8rem);
                @include all.size($w: 5rem, $h: 5rem);
            }
        }

        .topContent {
            display: flex;
            gap: 2rem;
            flex-wrap: wrap;
            height: 45dvh;

            @include all.mobile {
                padding: 0rem;
                gap: 1rem;
                height: 75dvh;
            }
        }

        .contactMe {
            flex: 1;
            min-width: 300px;
            padding: 1rem;

            @include all.mobile {
                padding-top: 0;
            }

            .contact-arrow {
                width: 50%;
                height: 3rem;

                @include all.mobile {
                    display: none;
                }

                &:after {
                    content: "";
                    @include all.absolute($bottom: 8%, $left: 25%);
                    @include all.size($w: 100%, $h: 3.5rem);
                    @include all.bg-setup();
                    background-image: url('./../../../../public/assets/ProjectsImg/LineArrow.png');
                    z-index: 10;
                    clip-path: inset(0 100% 0 0);
                    transition: clip-path 0.7s ease-out;
                }

                &:hover:after {
                    clip-path: inset(0 0 0 0);
                }
            }

            h1 {
                font-size: 3rem;
                margin-bottom: 1rem;

                @include all.mobile {
                    margin-bottom: 1rem;
                    font-size: 2rem;
                }
            }

            p {
                margin-bottom: 1rem;
                font-size: 1.5rem;

                @include all.tablet {
                    font-size: 1.1rem;
                    margin: 0;
                }
            }

            .contactDescription p {
                font-size: clamp(16px, 1.2dvw, 32px);
            }
        }

        // #endregion

        // #region form
        form {
            flex: 1;
            @include all.fl($flexdir: column, $alit: center);
            min-width: 300px;
            position: relative;

            @include all.tablet {
                height: 55dvh;
            }

            .formGroup {
                @include all.fl($flexdir: column, $gap: 1rem);
                @include all.size($w: 80%, $h: 25%);
                border-bottom: 2px solid #e6a337;
                box-shadow: 0 0 0 0 transparent;
                transition: box-shadow 0.3s ease-out;

                &:hover {
                    box-shadow: inset 0 2px 0 0 #2746f5;
                }

                @include all.tablet {
                    margin-top: 0rem;
                    gap: 0.5rem;
                    height: 30%;
                }

                label {
                    font-size: 1.3rem;
                }

                input,
                textarea {
                    width: 100%;
                    background: transparent;
                    border: none;
                    color: white;
                    font-size: 1rem;
                }
            }

            // #endregion formGroup Ende

            // #region checkBoxGroup
            .checkboxGroup {
                width: 80%;
                @include all.fl($alit: center, $gap: 1rem);
                padding-left: 2rem;

                @include all.tablet {
                    padding-left: 1rem;
                }

                @include all.mobile {
                    padding-left: 0;
                }

                a {
                    color: rgb(214, 194, 7);
                }

                input {
                    cursor: pointer;
                }

                span {
                    display: none;
                }

                label {
                    padding-top: 1rem;
                    width: 70%;
                    font-size: 1rem;

                    @include all.mobile {
                        padding-top: 0.2rem;
                        width: 100%;
                    }
                }
            }

            .err-message {
                color: rgb(195, 20, 20);
                width: 80%;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                @include all.tablet {
                    margin: 0;
                }
            }

            // #endregion subBtn Ende
        }

        // #region send-arrow
        .send-arrow {
            width: 100%;
            height: 4rem;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 2rem;

            @include all.mobile {
                width: 100%;
            }

            .btn-default {
                width: 80%;
                display: flex;
                justify-content: flex-end;

                button {
                    background-color: rgba(130, 129, 129, 0.7);
                    color: white;
                    border: 0.1px solid white;
                    box-shadow: 4px 4px 8px #f7f9fa;
                    border-radius: 25px;
                    padding: 0.5rem 1rem;
                    font-size: 16px;
                    cursor: pointer;
                    font-family: Arial, sans-serif;
                    transition: background-color 0.3s ease;

                    &:disabled {
                        background-color: rgba(130, 129, 129, 0.4);
                        color: #ccc;
                        cursor: default;
                        box-shadow: none;
                    }

                    &:not(:disabled):hover {
                        background: #f77a54;
                        box-shadow: none;
                    }
                }
            }

            .contact-arrow-mobile {
                display: none;
                width: 50%;
                height: 3rem;

                @include all.mobile {
                    display: flex;
                }

                &:after {
                    content: "";
                    @include all.absolute($bottom: 8%, $left: 25%);
                    @include all.size($w: 100%, $h: 3.5rem);
                    @include all.bg-setup();
                    background-image: url('./../../../../public/assets/ProjectsImg/LineArrow.png');
                    z-index: 10;
                    clip-path: inset(0 100% 0 0);
                    transition: clip-path 0.7s ease-out;
                }

                &:hover:after {
                    clip-path: inset(0 0 0 0);
                }
            }
        }

        // #endregion
    }
}