<section>
	<div class="content">
		<img class="contact-logo" src="assets/Extras/LOGONEU.png" alt="">
		<div class="topContent">
			<!-- #region contactMe -->
			<div class="contactMe">
				<p>{{ 'contact.description' | translate}}</p>
				<h1 [innerHTML]="'contact.privacyline' | translate"></h1>

				<div class="contactDescription">
					<p [innerHTML]="'contact.descriptionTwo' | translate"></p>
				</div>

				<div class="contact-arrow">
					</div>
			</div>
			<!-- #endregion -->

			<!-- #region form -->
			<form (ngSubmit)="onSubmit()">

				<div class="formGroup">
					<label for="name">{{ 'contactForm.name' | translate}}</label>
					<input type="text" id="name" name="name" [(ngModel)]="name" (ngModelChange)="validateFields()"
						placeholder="{{ 'contactForm.nameHolder' | translate}}" (blur)="markAsTouched('name')">
					<div class="err-message" *ngIf="nameTouched && !nameValid">
						<p>{{ 'contactForm.errorName' | translate}}</p>
					</div>
				</div>

				<div class="formGroup">
					<label for="email">{{ 'contactForm.email' | translate}}</label>
					<input type="email" id="email" name="email" [(ngModel)]="email" (ngModelChange)="validateFields()"
						placeholder="{{ 'contactForm.emailHolder' | translate}}" (blur)="markAsTouched('email')">
					<div class="err-message" *ngIf="emailTouched && !emailValid">
						<p>{{ 'contactForm.errorEmail' | translate}}</p>
					</div>
				</div>

				<div class="formGroup">
					<label for="message">{{ 'contactForm.message' | translate}}</label>
					<textarea id="message" name="message" [(ngModel)]="message" (ngModelChange)="validateFields()"
						placeholder="{{ 'contactForm.messageHolder' | translate}}"
						(blur)="markAsTouched('message')"></textarea>
					<div class="err-message" *ngIf="messageTouched && !messageValid">
						<p>{{ 'contactForm.errorMessage' | translate}}</p>
					</div>
				</div>


				<div class="checkboxGroup">
					<input type="checkbox" id="privacyPolicy" name="privacy-policy" [(ngModel)]="isPrivacyAccepted"
						(change)="validateFields()">
					<label for="privacyPolicy">{{ 'contactForm.privacyPolice' | translate}} <a href="privacy"
							class="privacy-link">{{ 'footer.privacyHead' | translate}}</a> {{ 'contactForm.privacyLink' | translate}}</label>
					<span class="error-message">{{ 'contactForm.errorMessage' | translate}}</span>
				</div>

				<div class="send-arrow">
					<div class="contact-arrow-mobile">
					</div>
					<div class="btn-default">
						<button type="submit" [disabled]="!isFormValid()">{{ 'contactForm.sendButton' |
							translate}}</button>
					</div>
				</div>
				<app-toast></app-toast>
			</form>
			<!-- #endregion -->
			
		</div>
	</div>
</section>