@use "../../../../public/styles/all_styles.scss" as all;

$font-cyber: "Orbitron", sans-serif;
$font-cyber-bold: "OrbitronBold", sans-serif;
$font-cyber-semi: "OrbitronSemi", sans-serif;
$font-cyber-two: "BriGro", sans-serif;

.projects-section {
	backdrop-filter: blur(0.9rem);
	box-shadow: inset 0 0 1.9rem rgba(0, 0, 0, 0.5);
	padding: 8rem 2rem;
	min-height: 100dvh;
	color: #fff;
	position: relative;
	overflow-x: hidden;

	&::before,
	&::after {
		content: "";
		position: absolute;
		@include all.size($w: 28.125rem, $h: 28.125rem);
		border-radius: 50%;
		filter: blur(6.25rem);
		z-index: 0;
		opacity: 0.12;
		animation: rotateGlow 15s infinite linear;
	}

	&::before {
		background: #007bff;
		@include all.absolute($top: 10%, $right: 5%);
	}

	&::after {
		z-index: -10;
		background: #00ff88;
		@include all.absolute($bottom: 10%, $left: 5%);
		animation-direction: reverse;
		animation-duration: 20s;
	}

	.max-container {
		max-width: 1200px;
		margin: 0 auto;
	}
}

.projects-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 4rem 2rem;

	@media (max-width: 1024px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: 650px) {
		grid-template-columns: 1fr;
	}
}

.header-card {
	grid-column: 1 / -1;
	margin-bottom: 2rem;

	.overline {
		color: white;
		letter-spacing: 2px;
	}

	.main-heading {
		font-size: clamp(2.5rem, 5dvw, 3.5rem);
		font-weight: 900;
		margin: 0.5rem 0 1.5rem;
	}

	.description {
		max-width: 600px;
		color: white;
		line-height: 1.6;
	}
}

.project-card {
	display: flex;
	flex-direction: column;

	.project-image-box {
		position: relative;
		@include all.fl($alit: center, $jc: center);
		aspect-ratio: 16 / 9;
		background: #1e293b;
		border-radius: 12px;
		overflow: hidden;
		cursor: pointer;

		img {
			@include all.size($w: 100%, $h: 100%);
			object-fit: cover;
			transition:
				transform 0.3s ease,
				opacity 0.3s ease;
		}

		.hover-info {
			position: absolute;
			@include all.fl($alit: center, $jc: center);
			inset: 0;
			background: rgba(0, 0, 0, 0.4);
			opacity: 0;
			transition: opacity 0.3s ease;
			z-index: 3;

			.work {
				color: white;
				font-weight: 200;
				margin: 3rem;
				text-align: center;
				transform: translateY(10px);
				transition: transform 0.3s ease;
			}
		}

		&:hover {
			img {
				transform: scale(1.05);
				opacity: 0.2;
			}

			.hover-info {
				opacity: 1;
			}
		}
	}
}

.project-info {
	padding-top: 1.5rem;

	h3 {
		font-size: 1.5rem;
		margin-bottom: 0.5rem;
		cursor: pointer;
		width: fit-content;

		&:hover {
			color: #d4ff00;
		}
	}

	p {
		color: white;
		margin-bottom: 3rem;
		min-height: 2.7rem;
		height: 15dvh;
	}
}

.tech-tags {
	@include all.fl($alit: flex-start, $gap: 0.5rem);
	flex-wrap: wrap;
	margin-bottom: 1.5rem;
	height: 10ddvh;

	.tag {
		background: rgba(212, 255, 0, 0.1);
		color: #d4ff00;
		padding: 0.2rem 0.8rem;
		border-radius: 20px;
		font-weight: 600;
		height: auto;
		font-family: $font-cyber-two;
	}
}

.project-links {
	display: flex;
	gap: 1rem;

	.btn-link {
		flex: 1;
		text-align: center;
		background: #1a1a1a;
		border: 1px solid rgba(255, 255, 255, 0.1);
		color: #fff;
		padding: 0.6rem;
		border-radius: 8px;
		text-decoration: none;
		font-family: $font-cyber;
		transition: all 0.2s;

		&:hover {
			background: #fff;
			color: #000;
		}
	}
}

.modal-backdrop {
	position: fixed;
	@include all.fl($alit: center, $jc: center);
	inset: 0;
	background: rgba(20, 19, 19, 0.3);
	backdrop-filter: blur(15px);
	box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
	z-index: 2;
	padding: 1.25rem;
	animation: fadeIn 0.3s ease;
}

.modal-wrapper {
	@include all.size($w: 90ddvw);
	max-height: 85ddvh;
	@include all.marpad($pad: 1rem, $mar: 5.5rem 0 0 0);
	position: relative;
	background: rgba(255, 255, 255, 0.03);
	backdrop-filter: blur(15px);
	box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	overflow-y: none;

	@include all.notebook {
		height: 80dvh;
		overflow-y: auto;

		&::-webkit-scrollbar {
			display: none;
		}

		-ms-overflow-style: none;
		scrollbar-width: none;

		@media (min-width: 768px) {
			width: 90dvw;
			border-radius: 30px;
		}
	}
}