@use './../../../../public/styles/all_styles.scss' as all;

section {
    height: auto;
    min-height: 40dvh;

    @media(min-width: 2150px) {
        height: 40dvh;
    }

    .content {
        @include all.fl($flexdir: column, $jc: flex-start, $alit: flex-end);
        padding: 0 5rem 5rem 5rem;
        height: 80dvh;

        @include all.notebook {
            height: 115dvh;
            padding: 0 2rem 2rem 2rem;
        }

        @include all.mobile {
            height: auto;
            padding: 1rem;
        }

        .colleagues-main {
            position: relative;
            @include all.fl($flexdir: row, $alit: center, $jc: center);
            width: 100%;
            padding: 1rem;

            @include all.notebook {
                    margin-top: 3rem;
                }

                @include all.mobile{
                    margin-top: 1rem;
                }

            #person1 {
                position: absolute;
                left: 0;
                top: 4rem;
                transform: rotate(-2deg);

                @include all.notebook {
                    top: -5rem;
                }

                &:hover {
                    z-index: 20;
                }
            }

            #person2 {
                position: absolute;
                top: 5rem;
            }

            #person3 {
                position: absolute;
                right: 0;
                top: 4rem;
                transform: rotate(4deg);
            }

            @include all.notebook {
                @include all.fl($flexdir: column, $jc: center, $alit: center);
                width: 100%;
                height: auto;

                #person1 {
                    transform: rotate(-8deg);
                    position: relative;
                }

                #person2 {
                    @include all.absolute($top: 11rem);
                }

                #person3 {
                    @include all.absolute($top: 25rem);
                    transform: rotate(-5deg);
                }
            }

            @include all.mobile {

                @include all.fl($flexdir: column, $jc: center, $alit: center);
                width: 100%;

                position: relative;
                gap: 0;

                #person1,
                #person2,
                #person3 {
                    position: relative;
                    top: auto;
                    left: auto;
                    max-width: 300px;

                    &#person1 {
                        margin-top: 0;
                    }
                }
            }
        }

        h2 {
            font-size: 3.5rem;

            @include all.notebook {
                text-align: end;
                font-size: 2.5rem;
            }
        }

        .arrow-main {
            display: flex;
            width: 25%;
            height: 3rem;
            padding: 0;

            @include all.notebook {
                width: 35%;
            }

            @include all.tablet {
                justify-content: space-between;
                width: 45%;
            }

            @include all.mobile {
                width: 50%;
            }

            @media(max-width: 420px) {
                width: 75%;
            }

            h3 {
                @include all.fl($jc: end, $alit: center);
                width: 50%;
                white-space: nowrap;
                font-size: 1rem;
            }

            .arrow {
                position: relative;
                overflow: hidden;
                width: 50%;

                &:after {
                    content: "";
                    @include all.absolute($top: 0, $left: 0);
                    @include all.size($w: 100%, $h: 2.8rem);
                    @include all.bg-setup();
                    background-image: url("../../../../public/assets/00_Hand-drawn lines/04_Testimonials/Color option 1.png");
                    z-index: 1;
                    clip-path: inset(0 0 0 100%);
                    transition: clip-path 0.5s ease-out;
                }

                @include all.notebook {
                    &:after {
                        @include all.size($w: 100%, $h: 2.5rem);
                    }
                }

                &:hover:after {
                    clip-path: inset(0 0 0 0);
                }
            }
        }
    }
}