@use './../../../../public/styles/all_styles.scss' as all;

$imbiss-orange: #5d117e;
$white: black;

section {
    height: auto;
    min-height: 40dvh;

    @media(min-width: 2150px) {
        height: 40dvh;
    }

    .content {
        @include all.fl($flexdir: column, $jc: flex-start, $alit: flex-end);
        padding: 0 5rem 5rem 5rem;
        height: 80dvh;

        @include all.notebook {
            height: 115dvh;
            padding: 0 2rem 2rem 2rem;
        }

        @include all.mobile {
            height: auto;
            padding: 1rem;
        }

        .colleagues-main {
            position: relative;
            @include all.fl($flexdir: row, $alit: center, $jc: center);
            width: 100%;
            padding: 1rem;

            @include all.notebook {
                margin-top: 3rem;
            }

            @include all.mobile {
                margin-top: 1rem;
            }

            #person1 {
                position: absolute;
                left: 0;
                top: 4rem;
                transform: rotate(-2deg);

                @include all.notebook {
                    top: -5rem;
                }

                &:hover {
                    z-index: 20;
                }
            }

            #person2 {
                position: absolute;
                top: 5rem;
            }

            #person3 {
                position: absolute;
                right: 0;
                top: 4rem;
                transform: rotate(4deg);
            }

            @include all.notebook {
                @include all.fl($flexdir: column, $jc: center, $alit: center);
                width: 100%;
                height: auto;

                #person1 {
                    transform: rotate(-8deg);
                    position: relative;
                }

                #person2 {
                    @include all.absolute($top: 11rem);
                }

                #person3 {
                    @include all.absolute($top: 25rem);
                    transform: rotate(-5deg);
                }
            }

            @include all.mobile {

                @include all.fl($flexdir: column, $jc: center, $alit: center);
                width: 100%;

                position: relative;
                gap: 0;

                #person1,
                #person2,
                #person3 {
                    position: relative;
                    top: auto;
                    left: auto;
                    max-width: 300px;

                    &#person1 {
                        margin-top: 0;
                    }
                }
            }
        }

        h2 {
            width: 100%;
            text-decoration: none;
            color: rgba($white, 0.9);
            font-size: clamp(1rem, 8.5dvw, 3rem);
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            padding: 5px 0; // Kleiner Puffer f체r den Strich
            position: relative; // Wichtig f체r die Positionierung des Strichs
            transition: color 0.3s ease;
            padding-right: 0.5rem;
            text-align: end;

            // DER UNTERSTRICH (Cyber-Linie)
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: 2px; // Startet bei 0 Breite
                height: 0; // Etwas dicker f체r den Neon-Look
                background: $imbiss-orange;
                box-shadow: 0 0 8px $imbiss-orange; // Der Glow-Effekt
                transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);

                @include all.notebook {
                    bottom: 0rem;
                }

                @include all.mobile {
                    bottom: 0.2rem;
                }
            }

            &:hover {
                color: $imbiss-orange; // Text wird heller beim Hover

                &::after {
                    height: 100%; // Strich f채hrt voll aus
                }
            }
        }

        .arrow-main {
            display: flex;
            justify-content: end;
            width: 100%;
            height: 3rem;
            padding: 0;

            @include all.notebook {
                width: 35%;
            }

            @include all.tablet {
                width: 45%;
            }

            @include all.mobile {
                width: 50%;
            }

            @media(max-width: 420px) {
                width: 75%;
            }

            h3 {
                @include all.fl($jc: end, $alit: center);
                width: 50%;
                white-space: nowrap;
                font-size: 1rem;
            }
        }
    }
}