<section id="about" class="about-section">
	<div class="container">

		<div class="cards-side">
			<div *ngFor="let info of aboutInfo" [class]="'info-card ' + info.colorClass">
				<i [class]="info.icon"></i>
				<span>{{ info.translationKey | translate }}</span>
			</div>
		</div>

		<div class="text-side">
			<p class="subtitle">{{ 'about.title' | translate }}</p>
			<h2 class="title">{{ 'about.privacyline' | translate }}</h2>
			<div class="divider"></div>

			<p class="description"  [innerHTML]="'about.description' | translate">
			</p>

			<a href="#contact" class="btn-talk">
				{{ 'button.talkBtn' | translate }}
			</a>
		</div>

	</div>
</section>