<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # 1. Wenn die Datei (robots.txt, sitemap.xml, Bilder) physisch existiert, liefere sie aus
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # 2. Alles andere an die index.html von Angular weiterleiten
  # WICHTIG: Kein Slash vor index.html, damit es relativ bleibt
  RewriteRule ^ index.html [L]
</IfModule>