@use './../../../../../public/styles/all_styles.scss' as all;

.person-comment {
	position: relative;
	@include all.size($w: 100%);
	max-width: 37rem;
	min-height: 24.5rem;
	background-image: url('./../../../../../public/assets/03_Stickers/02_Testimonials/Color option 2/A.png');
	@include all.bg-setup();
	@include all.fl($jc: center, $alit: start, $flexdir: column, $gap: 4rem);
	padding: 3rem;


	&:hover {
		background-image: url('./../../../../../public/assets/03_Stickers/02_Testimonials/Color option 3/Line.png'), url('./../../../../../public/assets/03_Stickers/02_Testimonials/Color option 2/A.png');
		z-index: 5;
	}

	.person-link {
		@include all.fl($jc: space-between, $alit: center);
		width: 100%;
	}

	.logo-link {
		@include all.fl($alit: center);

		a {
			font-size: 1.1rem;
		}
	}

	.name-block {
		h3 {
			font-size: 1.5rem;
		}

		span {
			font-size: 1rem;
		}
	}

	.colleague-quote {
		font-size: 1.1rem;
	}

	@include all.notebook {
		max-width: 30rem;
		padding: 2.5rem;
	}

	@include all.tablet {
		max-width: 90%;
		padding: 2rem;
		gap: 3rem;

		.name-block {
			h3 {
				font-size: 1.3rem;
			}

			span {
				font-size: 1rem;
			}
		}

		.colleague-quote {
			font-size: 1rem;
		}
	}

	@include all.mobile {
		max-width: 280px;
		margin: 0 auto;
		padding: 1rem 0.75rem;
		gap: 0.8rem;
		min-height: auto;
		background-size: 100% 100%;

		.colleague-quote {
			font-size: 1rem;
		}

		.person-link {
			flex-direction: column;
			align-items: flex-start;
			gap: 0.5rem;
		}

		.name-block {
			h3 {
				font-size: 1.1rem;
			}

			span {
				font-size: 1rem;
			}
		}
	}

	.logo-link {
		max-width: 100%;

		span {
			color: white;

			a {
				font-size: 1rem;
				display: block;
				word-break: break-word;
				color: white;

				&:hover {
					color: #2a4cf7;
				}
			}

			img {
				width: 24px;
				height: 24px;
			}
		}
	}
}