<section>

	<div class="content">

		<h1>{{ 'legalNotice.mainHead' | translate}}</h1>

		<div class="back-btn">
			<a href="#contact"><img src="assets/ProjectsImg/Back 1.png" alt="" />{{ 'button.backBtn' | translate}}</a>
		</div>

		<h2>{{ 'legalNotice.headOne' | translate}}</h2>
		<ol>
			<li>Marcus Gühne</li>
			<li>Lazerstr. 3</li>
			<li>04758 Oschatz</li>
		</ol>
		<h3>{{ 'legalNotice.headTwo' | translate}}</h3><br>
		<p>marcusghne&#64;gmx.de</p>
		<h3>{{ 'legalNotice.headThree' | translate}}</h3><br>
		<p [innerHTML]="'legalNotice.paraOne' | translate"></p>
		<h3>{{ 'legalNotice.headFour' | translate}}</h3><br>
		<p [innerHTML]="'legalNotice.paraTwo' | translate"></p>
		<h3>{{ 'legalNotice.headFive' | translate}}</h3><br>
		<p [innerHTML]="'legalNotice.paraThree' | translate"></p>
		<h3>{{ 'legalNotice.headSix' | translate}}</h3><br>
		<p [innerHTML]="'legalNotice.paraFour' | translate"></p>
		<h3>{{ 'legalNotice.headSeven' | translate}}</h3><br>
		<p [innerHTML]="'legalNotice.paraFive' | translate"></p>
		<h3>{{ 'legalNotice.headEight' | translate}}</h3><br>
		<p [innerHTML]="'legalNotice.paraSix' | translate"></p>
		<p [innerHTML]="'legalNotice.paraSeven' | translate"></p><br><br>
		<p [innerHTML]="'legalNotice.paraEight' | translate"></p>


	</div>

</section>