@use './all_styles' as all;

.btn-set {
    @include all.marpad ($pad: 0 1rem);
    @include all.fl($jc: center, $alit: center, $gap: 1rem);
    width: fit-content;
    height: 0.2rem;
    padding: 0.6em;
    border: 0.1rem solid #f7f9fa;
    border-radius: 8rem;
    background-color: #0e1013;
    color: #f7f9fa;
    box-shadow: 4px 4px 8px #f7f9fa;
    font-size: 1.3rem;

    a {
        color: white;
    }

    @media (max-width: 640px) {
        width: fit-content;
        height: 1rem;
    }

    &:hover {
        background: #f77a54;
        box-shadow: none;
        transform: translate(5px, 5px);
    }
}

.btn-default {
    @include all.marpad ($pad: 0 0.5rem);
    @include all.fl($jc: center, $alit: center, $gap: 1rem);
    width: fit-content;
    height: 2rem;
    border-radius: 8rem;
    border: 0.1rem solid #0e1013;
    background-color: #f7f9fa;
    color: #0e1013;
    box-shadow: 2px 2px 4px #0e1013;
    font-size: 1.3rem;

    a {
        color: black;
    }

    @media (max-width: 640px) {
        width: fit-content;
        height: 2rem;
    }

    &:hover {
        background: #f77a54;
        box-shadow: none;
    }
}

.back-btn {
    position: absolute;
    display: flex;
    align-items: center;
    padding-left: 6rem;
    cursor: pointer;
    top: 8rem;
    z-index: 5;
    gap: 1rem;
    font-size: clamp(16px, 1dvw, 24px);

    a {
        display: flex;
        align-items: center;
        gap: 0.2rem;
    }

    &:hover a {
        color: #f77a54;
    }

    img {
        width: 32px;
        height: 32px;
    }

    @include all.notebook {
        display: none;
    }
}

.back-btn-mobile {
    display: none;
    align-items: center;
    padding-left: 2rem;
    cursor: pointer;
    z-index: 10;
    gap: 0.3rem;
    font-size: clamp(16px, 1dvw, 24px);

    a {
        display: flex;
        align-items: center;
        gap: 0.2rem;
    }


    &:hover a {
        color: #f77a54;
    }

    @include all.notebook {
        display: flex;
        padding: 0;
    }

    img {
        width: 32px;
        height: 32px;
    }
}

.next-btn {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    cursor: pointer;
    z-index: 10;
    gap: 0.3rem;
    font-size: clamp(16px, 1dvw, 24px);

    a {
        display: flex;
        align-items: center;
        gap: 0.2rem;
    }

    &:hover a {
        color: #f77a54;
    }
    @include all.notebook {
        padding: 0;
    }

    img {
        width: 32px;
        height: 32px;
    }
}

.hello-btn {
    @include all.marpad ($pad: 0 1rem);
    @include all.fl($jc: center, $alit: center, $gap: 1rem);
    width: fit-content;
    height: 2rem;
    border: 0.1rem solid #f8f9fa;
    border-radius: 8rem;
    background-color: #0e1013;
    color: #f8f9fa;
    font-size: 1.6rem;

    @media (max-width: 640px) {
        width: 8rem;
        height: 3rem;
    }

    &:hover {
        padding: 1rem;
        justify-content: start;
        background-color: #19a8b5;
    }
}

.footer-btn {
    @include all.marpad ($pad: 0 0.5rem);
    @include all.fl($jc: center, $alit: center, $gap: 1rem);
    width: fit-content;
    height: 2rem;
    border-radius: 8rem;
    color: #f8f9fa;
    font-size: 1.6rem;

    @media (max-width: 640px) {
        width: fit-content;
    }

    &:hover {
        height: 2rem;
        justify-content: start;
        background-color: #19a8b5;
        border: 0.1rem solid #f8f9fa;
    }
}