@use "sass:string";

@mixin marpad($pad: 0, $mar: 0) {
	padding: $pad;
	margin: $mar;
}

@mixin fl($display: flex, $jc: flex-start, $alit: flex-start, $flexdir: row, $gap: 0, $rgap: 0, $cgap: 0, ) {
	display: $display;
	justify-content: $jc;
	align-items: $alit;
	flex-direction: $flexdir;
	row-gap: $rgap;
	column-gap: $cgap;
	gap: $gap;
}

@mixin size($w: auto, $h: auto) {
	width: $w;
	height: $h;
}

@mixin absolute($pos: absolute, $top: auto, $left: auto, $bottom: auto, $right: auto) {
	position: $pos;
	top: $top;
	left: $left;
	bottom: $bottom;
	right: $right;
}

@mixin borRad($c: white, $radius: 1.6rem, $thick: 1px, $design: solid) {
	border: $thick $design $c;
	border-radius: $radius;
}

@mixin boxSh($right: 2px, $bottom: 4px, $blur: 2px, $all: 0px, $c: white) {
	// right , bottom, spread, thick around 
	box-shadow: $right $bottom $blur $all $c ;
}

@mixin limiter() {
	display: inline-block;
	max-width: 100%;
	white-space: nowrap;
	word-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin scrollbar() {
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
}

@mixin bg-setup($bg-size: contain, $bg-pos: center, $bg-repeat: no-repeat) {
	background-position: $bg-pos;
	background-repeat: $bg-repeat;
	background-size: $bg-size;
}

@mixin nav-link-base {
    position: relative;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.9rem;
        height: 3rem;
        text-decoration: none;
        color: #f7f9fa;
        position: relative;
        z-index: 2;
        border: 2px solid transparent;
        border-radius: 4px; 
        transition: all 0.2s ease;

        &:hover {
            color: #00f2ff; 
            animation: electric-zap 0.6s infinite;
            border-color: #00f2ff;
        }
    }
    @content;
}