<section>

	<div class="content">

		<h1>{{ 'privacy.mainprivacy' | translate}}</h1>

    <div class="back-btn">
        <a href="#contact"><img src="assets/ProjectsImg/Back 1.png" alt="Zurück-Pfeil" />{{ 'button.backBtn' | translate}}</a>
    </div>

    <h2>{{ 'privacy.privacyOne' | translate}}</h2>
    
    <h3>{{ 'privacy.privacyHeadOne' | translate}}</h3>
    <p>{{ 'privacy.privacyParaOne' | translate}}</p>
    
    <h3>{{ 'privacy.privacyHeadTwo' | translate}}</h3>

    <h4>{{ 'privacy.privacyHeadTwoLittleA' | translate}}</h4>
    <p>{{ 'privacy.privacyParaTwoA' | translate}}</p>

    <h4>{{ 'privacy.privacyHeadTwoLittleB' | translate}}</h4>
    <p>{{ 'privacy.privacyParaTwoB' | translate}}</p>

    <h4>{{ 'privacy.privacyHeadTwoLittleC' | translate}}</h4>
    <p>{{ 'privacy.privacyParaTwoC' | translate}}</p>

    <h4>{{ 'privacy.privacyHeadTwoLittleD' | translate}}</h4>
    <p>{{ 'privacy.privacyParaTwoD' | translate}}</p>


    <h2>{{ 'privacy.privacyTwo' | translate}}</h2>

    <h3>{{ 'privacy.privacyTwoHeadA' | translate}}</h3>
    <p>{{ 'privacy.privacyTwoParaA' | translate}}</p>
    <p>{{ 'privacy.privacyTwoParaB' | translate}}</p>

    <h3>{{ 'privacy.privacyTwoHeadB' | translate}}</h3>
    <p>{{ 'privacy.privacyTwoParaC' | translate}}</p>


    <h2>{{ 'privacy.privacyThree' | translate}}</h2>

    <h3>{{ 'privacy.privacyThreeHeadA' | translate}}</h3>
    <p>{{ 'privacy.privacyThreeParaA' | translate}}</p>

    <h3>{{ 'privacy.privacyThreeHeadB' | translate}}</h3>
    <p>{{ 'privacy.privacyThreeParaB' | translate}}</p>

    <h3>{{ 'privacy.privacyThreeHeadC' | translate}}</h3>
    <p>{{ 'privacy.privacyThreeParaC' | translate}}</p>
    
    <h3>{{ 'privacy.privacyThreeHeadD' | translate}}</h3>
    <p>{{ 'privacy.privacyThreeParaD' | translate}}</p>
    
    <h3>{{ 'privacy.privacyThreeHeadE' | translate}}</h3>
    <p>{{ 'privacy.privacyThreeParaE' | translate}}</p>
    
    <h3>{{ 'privacy.privacyThreeHeadF' | translate}}</h3>
    <p>{{ 'privacy.privacyThreeParaF' | translate}}</p>
    
    <h3>{{ 'privacy.privacyThreeHeadG' | translate}}</h3>
    <p>{{ 'privacy.privacyThreeParaG' | translate}}</p>
    
    <h3>{{ 'privacy.privacyThreeHeadH' | translate}}</h3>
    <p>{{ 'privacy.privacyThreeParaH' | translate}}</p>
    
    <h3>{{ 'privacy.privacyThreeHeadI' | translate}}</h3>
    <p>{{ 'privacy.privacyThreeParaI' | translate}}</p>
    
    <h3>{{ 'privacy.privacyThreeHeadJ' | translate}}</h3>
    <p>{{ 'privacy.privacyThreeParaJ' | translate}}</p>
    
    <h3>{{ 'privacy.privacyThreeHeadK' | translate}}</h3>
    <p>{{ 'privacy.privacyThreeParaK' | translate}}</p>

    <h3>{{ 'privacy.privacyThreeHeadL' | translate}}</h3>
    <p>{{ 'privacy.privacyThreeParaL' | translate}}</p>


    <h2>{{ 'privacy.privacyFour' | translate}}</h2>

    <h3>{{ 'privacy.privacyFourHeadA' | translate}}</h3>
    <p>{{ 'privacy.privacyFourParaA' | translate}}</p>

    <h3>{{ 'privacy.privacyFourHeadB' | translate}}</h3>
    <p>{{ 'privacy.privacyFourParaB' | translate}}</p>


    <h2>{{ 'privacy.privacyFive' | translate}}</h2>

    <h3>{{ 'privacy.privacyFiveHeadA' | translate}}</h3>
    <p>{{ 'privacy.privacyFiveParaA' | translate}}</p>


	</div>

</section>