/* You can add global styles to this file, and also import other style files */
*{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
	list-style: none;
    font-family: 'BriGro',sans-serif;
}

header,
section,
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    

    .content {
        width: 100%;
        max-width: 1920px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@font-face {
    font-family: "BriGro";
    src: url("../public/assets/fonts/BricolageGrotesque-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Kalam";
    src: url("../public/assets/fonts/Kalam-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Orbitron";
    src: url("../public/assets/fonts/static/Orbitron-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "OrbitronBold";
    src: url("../public/assets/fonts/static/Orbitron-ExtraBold.ttf") format("truetype");
}

body.no-scroll {
    overflow: hidden;
}

.d_none {
    display: none;
}

button, li, span {
    color: #5672fc;
    // cursor: pointer;
}

h1, h2 {
    font-family: 'Orbitron', sans-serif;
}