$font-cyber: 'Orbitron', sans-serif;
$font-cyber-two: 'BriGro', sans-serif;
$font-cyber-bold: 'OrbitronBold', sans-serif;
$font-cyber-semi: 'OrbitronSemi', sans-serif;

* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;

    header,
    section,
    footer {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0 1rem;


        .content {
            width: 100%;
            max-width: 1920px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    @font-face {
        font-family: "BriGro";
        src: url("../public/assets/fonts/BricolageGrotesque-Regular.ttf") format("truetype");
    }

    @font-face {
        font-family: "Orbitron";
        src: url("../public/assets/fonts/static/Orbitron-Medium.ttf") format("truetype");
    }

    @font-face {
        font-family: "OrbitronBold";
        src: url("../public/assets/fonts/static/Orbitron-ExtraBold.ttf") format("truetype");
    }

    @font-face {
        font-family: 'OrbitronSemi';
        src: url("../public/assets/fonts/static/Orbitron-SemiBold.ttf") format("truetype");
    }

    body.no-scroll {
        overflow: hidden;
    }

    .d_none {
        display: none;
    }

    button,
    li,
    span {
        color: white;
        // cursor: pointer;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $font-cyber;
    }

    p,
    a,
    span,
    li,
    label {
        font-family: $font-cyber-two;
        font-size: 1rem;
    }

    body {
        background: linear-gradient(135deg, #8a8a8a 0%, #6e6e6e 50%, #4a4a4a 100%);

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: radial-gradient(circle at 20% 30%, rgba(212, 255, 0, 0.05) 0%, transparent 50%);
            pointer-events: none;
        }
    }

    .skip-link {
        position: absolute;
        top: -100px;
        /* Standardmäßig außerhalb des Sichtfelds */
        left: 0;
        background: #ffaa00;
        /* Nutze deine Akzentfarbe */
        color: #000;
        padding: 15px 25px;
        z-index: 10000;
        text-decoration: none;
        font-weight: bold;
        border-radius: 0 0 10px 0;
        transition: top 0.3s ease;

        /* Wird nur sichtbar, wenn der Nutzer die Tab-Taste nutzt */
        &:focus {
            top: 0;
            outline: 3px solid #fff;
        }
    }
}