@use "./../../../../public/styles/all_styles.scss" as all;

section {
    background: url("./../../../../public/assets/01_Background/Img Original Size/Skills BGsmall.png");
    @include all.bg-setup($bg-size: cover);

    @media(min-width: 2150px) {
        height: auto;
    }

    .content {
        @include all.fl($flexdir: column, $alit: center);
        padding: 8rem;
        width: 100%;
        min-height: 100dvh;
        height: auto;

        @media(min-width: 2150px) {
            padding-top: 15rem;
    }

        @include all.notebook {
            padding: 2rem;
        }

        @include all.tablet {
            min-height: 170dvh;
            padding-top: 5rem;
        }

        // #region skillInfo
        .skill-info {
            width: 100%;
            @include all.fl($alit: center);

            @include all.tablet {
                @include all.fl($flexdir: column, $alit: center, $jc: center);
            }

            .skill-title {
                width: fit-content;
                min-width: 22dvw;
                @include all.fl($alit: flex-end, $jc: center, $flexdir: column);
                color: #f7f9fa;

                @include all.tablet {
                    width: 100%;
                }

                p {
                    font-size: clamp(1.2rem, 1.5vw, 1.6rem);
                    padding: 0;
                    text-align: center;

                    @include all.tablet {
                        text-align: end;
                    }
                }

                .skill-set {
                    position: relative;
                    overflow: hidden;
                    font-size: clamp(2.9rem, 5dvw, 4.5rem);
                    width: fit-content;
                    z-index: 10;
                    cursor: pointer;

                    @include all.tablet {
                        font-size: 3rem;
                    }

                    &:after {
                        content: "";
                        @include all.absolute($bottom: 0, $left: 0);
                        @include all.size($w: 100%, $h: 10dvh);
                        @include all.bg-setup();
                        background-image: url("../../../../public/assets/00_Hand-drawn lines/02_Skills/Color option 2.png");
                        z-index: -1;
                        clip-path: inset(0 0 100% 0);
                        transition: clip-path 0.5s ease-out;

                        @include all.tablet {
                            @include all.size($w: 100%, $h: 8dvh);
                        }
                    }

                    &:hover:after {
                        clip-path: inset(0 0 0 0);
                    }
                }
            }
        }

        .skill-description {
            width: 60%;
            min-height: 20dvh;
            background-image: url("./../../../../public/assets/02_Ripped Paper/1.Skills description.png");
            @include all.bg-setup($bg-pos: center);
            padding: 4rem 6rem;
            font-size: clamp(1rem, 1.2vw, 1.2rem);
            white-space: normal;
            overflow-wrap: break-word;
            display: flex;
            align-items: center;
            margin-left: 1.5rem;

            @include all.notebook {
                padding: 2rem 3rem;
            }

            @include all.tablet {
                width: 70%;
                min-height: 30dvh;
                text-align: center;
                background-image: url("../../../../public/assets/02_Ripped Paper/1B.Mobile.png");
                padding: 1rem;
                flex-shrink: 0;
                margin-left: 0;
            }

            @media (max-width: 420px) {
                width: 100%;
            }
        }

        // #endregion

        // #region skillPeel
        .skill-main-container {
            @include all.fl($alit: center, $jc: end);
            width: 90dvw;
            margin-top: 3rem;

            @media(min-width: 1920px) {
                width: 50dvw;
            }

            @include all.tablet {
                margin-top: 0.5rem;
            }

            .skill-peel {
                width: 50%;
                @include all.fl($flexdir: row, $jc: center, $alit: flex-start);
                margin-top: 3rem;

                @media (max-width: 1250px) {
                    width: 60%;
                }

                @include all.tablet {
                    width: 100%;
                }

                .skill-icons {
                    width: 100%;
                    @include all.fl($flexdir: row, $jc: start, $alit: center, $gap: 1rem);
                    flex-wrap: wrap;
                    gap: 1rem;

                    @media(min-width: 1920px) {
                        flex-wrap: wrap;
                        width: 100%;
                    }

                    @include all.tablet {
                        width: 100%;
                        gap: 0.5rem;
                    }

                    .skill-icon-box {
                        position: relative;
                        width: 30%;
                        @include all.fl($flexdir: column, $jc: center, $alit: center, $gap: 1rem);
                        max-width: 100px;
                        transition: transform 0.3s ease-in-out;
                        cursor: pointer;
                        margin-bottom: 1.4rem;

                        @include all.tablet {
                            @include all.fl($flexdir: column, $jc: start, $alit: center);
                            max-width: unset;
                            gap: 0.5rem;
                        }

                        img {
                            @include all.size($w: 4.5rem, $h: 4.5rem);

                            @include all.tablet {
                                @include all.size($w: 3rem, $h: 3rem);
                            }
                        }

                        span {
                            margin-top: 5px;
                            font-size: clamp(0.7rem, 1vw, 1.2rem);
                            color: white;
                            text-align: center;
                        }
                    }
                }
            }

            .skill-icon {
                width: 60%;
                object-fit: contain;
                transition: opacity 0.4s ease-in-out;

                &.color {
                    filter: grayscale(1);
                    opacity: 1;
                    transform: scale(1.2);
                    transition: all 0.4s ease-in-out;

                    &:hover {
                        filter: none;
                        opacity: 1;
                        transform: scale(1);
                    }

                    @include all.tablet {
                        filter: none;
                    }
                }
            }

            // #region peelContainer
            .peel-container {
                position: relative;
                width: 18dvw;
                @include all.fl($alit: center, $jc: center);
                transform: rotate(10deg);
                min-width: 280px;

                @include all.tablet {
                    @include all.absolute($top: 23rem, $left: 60%);
                    transform: translate(-50%) rotate(10deg);
                }

                @include all.mobile {
                    width: 60%;
                    min-width: unset;
                    transform: translate(-50%) rotate(10deg);
                }

                img {
                    width: 100%;
                    z-index: 1;

                    @media(min-width: 2150px) {
                    width: 70%;
                }

                    @include all.mobile {
                        width: 100%;
                        display: block;
                    }
                }

                .peel-arrow {
                    z-index: 5;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 1.5rem;

                    @media (max-width: 450px) {
                        gap: 0.5rem;
                    }

                    img {
                        width: 100px;
                        height: 50px;
                    }

                    span {
                        // width: 70%;
                        // height: 100%;
                        color: white;
                        font-size: 3rem;
                        text-align: center;
                        font-family: "Kalam";

                        @media (max-width: 450px) {
                            font-size: 2rem;
                        }
                    }
                }

                p {
                    @include all.absolute($top: 20%);
                    color: white;
                    z-index: 10;

                    @include all.mobile {
                        @include all.absolute($top: 10%, $left: 5%);
                        width: 90%;
                        text-align: center;
                    }
                }

                .peel-img {
                    @include all.absolute($top: 40%);
                    @include all.fl($jc: center);
                    gap: 1rem;
                    width: 85%;
                    height: 30%;
                    z-index: 10;

                    .peel-icon-box {
                        width: 100%;
                        height: 100%;
                        @include all.fl($flexdir: column, $alit: center);
                        gap: 0.8rem;

                        @include all.tablet {
                            gap: 0.2rem;
                        }

                        img {
                            width: 100%;
                            max-width: 4rem;
                        }

                        span {
                            color: white;
                        }
                    }
                }
            }

            .peel-container-cover {
                @include all.absolute($top: 0, $left: 0);
                @include all.size($w: 100%, $h: 100%);
                z-index: 10;
                cursor: pointer;
                @include all.fl($alit: center, $jc: center);

                @media(min-width: 2150px) {
                    width: 100%;
                }

                img {
                    @include all.size($w: 100%, $h: 100%);
                }
            }

            // #endregion
        }
    }
}