<footer>

	<div class="myName">
		<div class="logo-img">
			<img src="assets/Extras/LOGONEU.png" alt="">
		</div>
		<div class="owner-info">
			<p>&copy; Marcus Gühne 2025</p>
			<li>
				<a class="legal-footer-mobile" href="imprint">{{ 'footer.footerHead' | translate}}</a>
			</li>
		</div>
	</div>

	<nav>
		<li>
			<a class="legal-footer" href="imprint">{{ 'footer.footerHead' | translate}}</a>
		</li>

		<li>
			<a class="footer-btn" href="https://github.com/Prodigy2103" target="_blank">
				<p>Github</p>
				<img src="assets/Extras/Github.png" alt="">
			</a>
		</li>

		<li>
			<a class="footer-btn" href="https://www.linkedin.com/in/robert-marcus-g%C3%BChne-a53a63385/" target="blank">
				<p>LinkedIn</p>
				<img src="assets/Extras/icons8-linkedin-52.png" alt="">
			</a>
		</li>

		<li>
			<a class="footer-btn" href="mailto:marcusghne@gmx.de">
				<p>Email</p>
				<img src="assets/Extras/Contact.png" alt="">
			</a>
		</li>
	</nav>

</footer>