@use "../../../../public/styles/all_styles.scss" as all;
@forward "../../../../public/styles/component-styles.scss";

footer {
    width: 100%;
    min-height: 5rem;
    gap: 5rem;
    background-image: url('../../../../public/assets/01_Background/Design Size Relation@3x/06_Contact.png');
    background-size: cover;
    background-position: 100%;
    padding: 0 2rem;
    display: flex;

    @include all.fl($alit: center, $jc: space-between, $flexdir: row);

    @include all.notebook {
        @include all.fl($flexdir: column, $alit: center, $jc: center);
        min-height: 10dvh;
        padding: 1rem 1rem;
        gap: 0;
    }

    .myName {
        width: 20%;
        display: flex;
        flex-direction: column;

        .logo-img {

            img {
                margin-top: 1rem;
                width: 4rem;
                height: 4rem;

                @include all.mobile {
                    margin: 0;
                }
            }
        }

        @include all.notebook {
            flex-direction: row;
            width: 100%;
        }

        .owner-info {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 1rem;

            @include all.notebook {
            align-items: end;
            width: 100%;
        }

            p {
                color: white;
            }
        }
    }

    .footer-info {
        @include all.fl($alit: center, $jc: flex-start);
        height: auto;
        flex-shrink: 0;

        @include all.notebook {
            @include all.fl($jc: center);
            width: 100%;
        }

        img {
            width: 72px;
            height: 72px;
            margin-right: 1rem;

            @include all.tablet {
                width: 50px;
                height: 50px;
            }
        }

        p {
            color: #f7f9fa;
            text-shadow: 2px 2px 4px black;
            font-size: 1.3rem;
            white-space: nowrap;
        }
    }

    nav {
        @include all.size($w: 100%);
        @include all.fl($alit: center, $jc: space-between, $flexdir: row);

        @include all.notebook {
            @include all.size($w: 100%, $h: 3rem);
            @include all.fl($jc: center, $alit: center, $flexdir: row);
            margin-top: 1rem;
            padding-bottom: 0.5rem;
        }

        li {
            @include all.fl($alit: center, $jc: center, $flexdir: row);
            @include all.marpad($pad: 0);
            flex-grow: 1;
            height: 4rem;

            @include all.notebook {
                @include all.fl($jc: center, $flexdir: row);
                @include all.size($w: auto);
            }

            @include all.tablet {
                @include all.fl($flexdir: column, $gap: 0.5rem);
            }
        }

        .legal-footer {
            color: #f7f9fa;
            font-size: 1.3rem;
            text-decoration: none;
            white-space: nowrap;
            position: relative;
            font-family: 'Orbitron', snas-serif;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 3rem;
                background-image: url('../../../../public/assets/00_Hand-drawn lines/00_Header/Color option 1/3.png');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                z-index: 10;
                clip-path: inset(0 100% 0 0);
                transition: clip-path 0.5s ease-out;
            }

            &:hover:after {
                clip-path: inset(0 0 0 0);
            }

            @include all.notebook {
                display: none;
            }
        }

        .footer-btn {

            p {
                font-size: 1.3rem;
                font-family: 'Orbitron', snas-serif;
            }

            img {
                @include all.absolute($bottom: 2rem, $right: 2rem);
                @include all.fl($display: none);
            }

                @include all.buttonEffectFooter();
                @include all.waveRollFooter();

                &:hover img {
                    animation: roll-wave-in 1.2s forwards;
                    @include all.fl();
                }

                &:not(:hover) img {
                    animation: roll-wave-out 0.5s forwards;
                }

            @include all.notebook {
                width: 5rem;
            }
        }
    }

    .legal-footer-mobile {
        color: #f7f9fa;
        font-size: clamp(16px, 1dvw, 24px);
        text-decoration: none;
        white-space: nowrap;
        position: relative;
        display: none;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2.5rem;
            background-image: url('../../../../public/assets/00_Hand-drawn lines/00_Header/Color option 1/3.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            z-index: 10;
            clip-path: inset(0 100% 0 0);
            transition: clip-path 0.5s ease-out;
        }

        &:hover:after {
            clip-path: inset(0 0 0 0);
        }

        @include all.notebook {
            display: none;
        }

        @include all.notebook {
            display: inline-flex;
            margin-left: 1rem;
        }
    }
}